<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

   <!-- Remember to include jQuery :) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />

    <link rel="stylesheet" href="assets/css/plugins/nice-select.css" />

    <link rel="stylesheet" href="./assets/css/style.css" />

</head>


<body class="font-karla text-body text-tiny">
    <div class="overflow-hidden">
        <!-- Header start -->
        <header id="sticky-header" class="absolute left-0 top-[15px] lg:top-[30px] xl:top-[45px] w-full z-10">
            <div class="container">
                <div class="grid grid-cols-12">
                    <div class="col-span-12">
                        <div class="flex flex-wrap items-center justify-between">
                            <a href="/home" class="block" style="font-size: 40px;">
                                CR7
                            </a>
                            <nav class="flex flex-wrap items-center">
                                <ul class="hidden lg:flex flex-wrap items-center font-lora text-[16px] xl:text-[18px] leading-none text-black">

                                    <li class="mr-7 xl:mr-[40px] relative group py-[20px]">
                                        <a href="#" class="transition-all hover:text-secondary">Venta</a>
                                    </li>

                                    <li class="mr-7 xl:mr-[40px] relative group py-[20px]">
                                        <a href="#" class="transition-all hover:text-secondary">Alquiler</a>
                                    </li>

                                    <li class="mr-7 xl:mr-[40px] relative group py-[20px]">
                                        <a href="agency.html" class="transition-all hover:text-secondary">Inmobiliarias</a>
                                    </li>
                                </ul>

                                <a href="#ex1" id="ingresar" rel="modal:open"class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[20px] py-[15px] capitalize font-medium text-white hidden sm:block text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all sm:mr-5 xl:mr-[20px] relative group">Ingresar</a>

                                <a id="cerrar" href="javascript:void(0)" class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[20px] py-[15px] capitalize font-medium text-white hidden sm:block text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all sm:mr-5 xl:mr-[20px] relative group" style="display:none;">Cerrar Sesion</a>


                                <div class="relative group">
                                    <a href="#" class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[20px] py-[15px] capitalize font-medium text-white hidden sm:block text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all sm:mr-5 xl:mr-[20px] relative group">Publicar Propiedad</a>

                                    <ul class="list-none bg-white drop-shadow-[0px_6px_10px_rgba(0,0,0,0.2)] rounded-[12px] flex flex-wrap flex-col w-[180px] absolute top-[120%] sm:left-1/2 sm:-translate-x-1/2 transition-all group-hover:top-[60px] invisible group-hover:visible opacity-0 group-hover:opacity-100 right-0">
                                        <li class="border-b border-dashed border-primary border-opacity-40 last:border-b-0 hover:border-solid transition-all">
                                            <a href="#" class="font-lora leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary hover:text-white text-center my-[-1px] rounded-t-[12px]">Inmobiliaria</a>
                                        </li>

                                        <li class="border-b border-dashed border-primary border-opacity-40 last:border-b-0 hover:border-solid transition-all">
                                            <a href="#" class="font-lora leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary hover:text-white text-center my-[-1px] rounded-b-[12px]">Dueño Vende/Alquila</a>
                                        </li>
                                    </ul>
                                </div>
                                <la class="ml-2 sm:ml-5 lg:hidden">
                                    <a href="#offcanvas-mobile-menu" class="offcanvas-toggle flex text-[#016450] hover:text-secondary">
                                        <svg width="24" height="24" class="fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z" />
                                          </svg>
                                        </a>
                                    </la>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="ex1" class="modal">
            <div id="modlogreg">
                <div id="modallogin">
                    <form action="/login" method="post" id="login"> 
                    <h2 class="font-lora text-primary text-[24px] sm:text-[30px] leading-[1.277] xl:text-xl mb-[15px] font-medium">
                          Iniciar Sesion<span class="text-secondary">.</span></h2>
                          <h4 id="msgemail" style="color:red;display: none;"> Email o contraseña incorrecta</h4>
                    <div class="grid grid-cols-12 gap-x-[20px] gap-y-[35px]">
                       
                        <div class="col-span-12">
                            <input class="font-light w-full sm:w-[400px] leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] " type="email" required name="email" placeholder="Email">
                        </div>

                        <div class="col-span-12">
                            <input class="font-light w-full sm:w-[400px] leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] " type="password" required name="pass" placeholder="Contraseña">

                            <div class="flex flex-wrap items-center justify-between w-full sm:w-[400px] mt-[15px]">
                                <div class="flex flex-wrap items-center">
                                    <input type="checkbox" id="checkbox1" name="Remember me">
                                    <label for="checkbox1" class="ml-[5px] cursor-pointer text-[14px]"> Recordar</label><br>
                                </div>
                                <a href="#" class="hover:text-secondary text-[14px] block">Has olvidado tu contraseña?</a>
                            </div>
                        </div>
                        <div class="col-span-12">
                            <div class="flex flex-wrap items-center">
                                <button type="submit" value="Submit" class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[40px] py-[15px] capitalize font-medium text-white text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all">Iniciar Sesion</button>
                                <a id="showregister" href="javascript:void(0)" class="font-medium text-primary hover:text-secondary ml-[40px]">Registrate</a>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                <div id="modalregister" style="display:none;">
                    <form action="/register" id="register" method="post" >
                        <h2 class="font-lora text-primary text-[24px] sm:text-[30px] leading-[1.277] xl:text-xl mb-[15px] font-medium">
                            Registrate<span class="text-secondary">.</span></h2>

                            <div class="relative sm:w-[400px]">
                                <select name="tipo" class="nice-select form-select ">
                                    <option value="1">Usuario</option>
                                    <option value="2">Inmobiliaria</option>
                                </select>
                            </div><br>
                         <div class="grid grid-cols-12 gap-x-[20px] gap-y-[35px]">

                            
                            <div class="col-span-12">
                                <input class="font-light w-full sm:w-[400px] leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] "type="text" name="nombre" placeholder="Nombre Completo">
                            </div>

                            <div class="col-span-12">
                                <h4 id="msgusr" style="color:red;display: none;">Usuario ya existe</h4>
                                <input class="font-light w-full sm:w-[400px] leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] "  type="email" name="email" placeholder="Email">
                            </div>


                            <div class="col-span-12">
                                <input class="font-light w-full sm:w-[400px] leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] " type="password" id="uno" name="pass" placeholder="Contraseña">

                            </div>

                            <div class="col-span-12">
                                <h4 id="msgpass" style="color:red;display: none;">No coinciden las contraseñas</h4>
                                <input class="font-light w-full sm:w-[400px] leading-[1.75] placeholder:opacity-100 placeholder:text-body border border-primary border-opacity-60 rounded-[8px] p-[15px] focus:border-secondary focus:border-opacity-60 focus:outline-none focus:drop-shadow-[0px_6px_15px_rgba(0,0,0,0.1)] " type="password" id="dos" placeholder="Confirmar Contraseña">

                                <div class="flex flex-wrap items-center justify-between w-full sm:w-[400px]">
                                    <div class="flex flex-wrap mt-[15px] items-center">
                                        <input type="checkbox" id="checkbox1" name="Remember me">
                                        <label for="checkbox1" class="ml-[5px] cursor-pointer"> estoy de acuerdo con el
                                            <a href="#" class="underline text-secondary">Terminos &amp;
                                                Condiciones</a>
                                            </label><br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-span-12">
                                <div class="flex flex-wrap items-center">
                                    <button type="submit" value="Submit" class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[40px] py-[15px] capitalize font-medium text-white text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all">Registrate</button>

                                    <p class="ml-[10px]">¿Ya tienes una cuenta?
                                        <a href="javascript:void(0)" id="showlogin" class="text-secondary">Inicia Sesion</a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
          <a href="javascript:void(0)" id="close" rel="modal:close"></a>
        </div>

        <!-- offcanvas-overlay start -->
        <div class="offcanvas-overlay hidden fixed inset-0 bg-black opacity-50 z-50"></div>
        <!-- offcanvas-overlay end -->

        <!-- offcanvas-mobile-menu start -->
        <div id="offcanvas-mobile-menu" class="offcanvas left-0 transform -translate-x-full fixed font-normal text-sm top-0 z-50 h-screen xs:w-[300px] lg:w-[380px] transition-all ease-in-out duration-300 bg-white">

            <div class="py-12 pr-4 h-[100vh] overflow-y-auto">
                <!-- close button start -->
                <button class="offcanvas-close text-primary text-[25px] w-10 h-10 absolute right-0 top-0 z-[1]" aria-label="offcanvas">x</button>
                <!-- close button end -->

                <!-- offcanvas-menu start -->

                <nav class="offcanvas-menu ml-[20px]">
                    <div class="mr-7 xl:mr-[40px] relative group py-[20px]">

                        <a href="#" class="transition-all hover:text-secondary">Inicio</a>

                    </div>

                    <div class="mr-7 xl:mr-[40px] relative group py-[20px]">

                        <a href="#" class="transition-all hover:text-secondary">Venta</a>

                    </div>
                    <div class="mr-7 xl:mr-[40px] relative group py-[20px]">

                        <a href="#" class="transition-all hover:text-secondary">Alquiler</a>

                    </div>

                    <div class="mr-7 xl:mr-[40px] relative group py-[20px]">

                        <a href="#" class="transition-all hover:text-secondary">Inmobiliarias</a>

                    </div>
                </nav>
                <!-- offcanvas-menu end -->

                <div class="px-5 flex-wrap mt-3 sm:hidden">

                    <a href="#ex1" id="inicio-mb" rel="modal:open" class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[10px] py-[15px] capitalize font-medium text-white text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all">Ingresar</a>

                    <a href="#" id="close-mb" class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[10px] py-[15px] capitalize font-medium text-white text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all" style="display: none">Cerrar Sesion</a>
                    
                    
                    <b class="relative group">
                        <a href="#" class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[10px] py-[15px] capitalize font-medium text-white text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all">Publicar Propiedad</a>


                        <ul class="list-none bg-white drop-shadow-[0px_6px_10px_rgba(0,0,0,0.2)] rounded-[12px] flex flex-wrap flex-col w-[180px] absolute top-[120%] sm:left-1/2 sm:-translate-x-1/2 transition-all group-hover:top-[60px] invisible group-hover:visible opacity-0 group-hover:opacity-100 right-0">
                            <li class="border-b border-dashed border-primary border-opacity-40 last:border-b-0 hover:border-solid transition-all">
                                <a href="#" class="font-lora leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary hover:text-white text-center my-[-1px] rounded-t-[12px]">Inmobiliaria</a>
                            </li>

                            <li class="border-b border-dashed border-primary border-opacity-40 last:border-b-0 hover:border-solid transition-all">
                                <a href="#" class="font-lora leading-[1.571] text-[14px] text-primary p-[10px] capitalize block transition-all hover:bg-primary hover:text-white text-center my-[-1px] rounded-b-[12px]">Dueño Vende/Alquila</a>
                            </li>

                        </ul>
                    </b>
                </div>
            </div>
        </div>
        <style type="text/css">
            .px-\[10px\] {
                padding-left: 10px;
                padding-right: 10px;
            }
            .blocker{
                z-index: 99;
            }
            @media only screen and (max-width: 600px) {
                #cerrar {
                 display: none!important;   
                }
            }
        </style>
        <script>
        
            $("#login").submit(function(e) {
        
               e.preventDefault(); 
        
               var form = $(this);
               var actionUrl = form.attr('action');
        
                   $.ajax({
                   type: "POST",
                   url: actionUrl,
                   data: form.serialize(), 
                   success: function(data)
                   {
                       console.log("Respuesta",data[0].status)
                       if (data[0].status == 200){
        
                           $("#ingresar").hide();
                           $("#cerrar").show();
                           $("#inicio-mb").hide();
                           $("#close-mb").show();
                           document.getElementById("close").click();
        
                           $.ajax({
                               type: "POST",
                               url: "loginwtoken",
                               data: {"token":data[0].token}, 
                               success: function(data2){
                                   console.log(data2)
                               }
                           })
        
                           localStorage.setItem("token",data[0].token);
        
                       } else if(data[0].status == 0){
        
                           $("#msgemail").show();
        
                       } 
                   }});
           });
        
           $("#register").submit(function(e) {
             e.preventDefault(); 
             
              var form = $(this);
              var actionUrl = form.attr('action');
        
                if($("#uno").val()==$("#dos").val()){
        
                   $.ajax({
                   type: "POST",
                   url: actionUrl,
                   data: form.serialize(), 
                   success: function(data)
                   {
                       if(data[0].status == 200){
        
                           localStorage.setItem("token",data[0].token);
                           $("#ex1,#ingresar,#inicio-mb").hide();
                           $("#cerrar,#close-mb").show();
                           document.getElementById("close").click();
        
                       } else {
                        $("#msgusr").show();
                       }
                   }});
                } else{
                    $("#msgpass").show();
                }
           })
        
           $(document).ready(function(e) { 
               // AutoLogin
               if(localStorage.getItem("token")!=null){
                   $.ajax({
                       type: "POST",
                       url: "loginwtoken", 
                       data: {"token":localStorage.getItem("token")}, 
                       success: function(data2){
                           console.log("loginwtoken",data2)
                           if (data2 != "no logeado") {
                             $("#ex1").hide();
                             $("#cerrar").show();
                             $("#ingresar").hide();
                             $("#close-mb").show();
                             $("#inicio-mb").hide();
                           }
                          
                       }
                   })
               }
           });
           $("#showregister").click(function(){
            $("#modalregister").show();
             $("#modallogin").hide();
           })
           $("#showlogin").click(function(){
            $("#modalregister").hide();
             $("#modallogin").show();
           })
           $("#cerrar,#close-mb").click (function(){

                $.ajax({
                    type: "POST",
                    url: "logout", 
                    data: {"token":localStorage.getItem("token")}, 
                    success: function(data2){
                        localStorage.clear(); 
                        $("#cerrar").hide();
                        $("#ingresar").show();
                        $("#close-mb").hide();
                        $("#inicio-mb").show();
                        console.log("cerraste sesion");
                    }
                })
           })
           
           </script>